<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>To Do List</title>
</head>
<body>
  <!-- Begin body; start nav -->
  <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/login">login</a></li>

          </ul>
        </nav>
        <h3 class="text-muted">To-Do List</h3>
      </div>
      <!-- End nav; start jumbo -->
      <div class="jumbotron">
          <h1>Login here</h1>

          <!-- <h3><a href="/categories">Add or view a category</a></h3>
          <h3><a href="/users">Add or view a user</a></h3> -->
      </div>
  </div>
</body>
</html>
